{% extends 'showcase/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                        <img class="imagem__imagem" src="{% static '/assets/imagens/galeria/'%}{{can.img_front}}">
                        <div class="imagem__info">
                            <div class="imagem__texto">
                                <p class="imagem__titulo">{{ can.name }}</p>
                                <p class="imagem__descricao"> {{can.continent}} - {{ can.country }}</p>
                                <p class="imagem__texto">{{ can.line }} </p>
                                <p class="imagem__texto">{{ can.size }}ml - SKU {{ can.sku }} - {{can.manufacturer}} </p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}